---
layout: base.njk
title: Anmeldelser
---

{% include "partials/feed-header.njk" %}

<ul>
  {% for article in gaffa | filterReviews | limit(100) %}
    {% include "partials/feed-item.njk" %}
  {% endfor %}
</ul>
