---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Gaffa feed",
    "subtitle": "Skandinaviens nr. 1 musikmagasin",
    "url": "https://gaffa.dk/",
    "feedUrl": "https://viktorstrate.github.io/gaffa-feed/feed.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ gaffa | getNewestGaffaArticleDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  {%- for article in gaffa %}
  {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ article.header }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ article.publish_date | date | dateToRfc3339 }}</updated>
    <id>{{ article.id }}</id>
    <content type="html">
      {% if article.article_type == 'review' %}
        <p><b>{{ article.article_type | formatArticleType }}</b> - <span>{{article.rating}} / 5 stjærner</span></p>
        <p>{{ article.artist }} - {{ article.title }}</p>
      {% else %}
        <p><b>{{ article.article_type | formatArticleType }}</b></p>
      {% endif %}
      <img src="{{ article.image_urls.original_w1000 }}" alt="{{ article.header }}">
    </content>
  </entry>
  {%- endfor %}
</feed>