---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Gaffa feed",
    "subtitle": "Skandinaviens nr. 1 musikmagasin",
    "url": "https://gaffa.dk/",
    "feedUrl": "https://viktorstrate.github.io/gaffa-feed/feed.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <rights>Copyright Gaffa.dk - all rights reserved</rights>
  <updated>{{ gaffa | getNewestGaffaArticleDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  {%- for article in gaffa %}
  {% set absolutePostUrl %}{{ article.url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ article.header }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ article.publish_date | date | dateToRfc3339 }}</updated>
    <published>{{ article.publish_date | date | dateToRfc3339 }}</published>
    <id>{{ absolutePostUrl }}</id>
    <category term="{{ article.article_type }}" label="{{ article.article_type | formatArticleType }}"/>
    <content type="html" xml:base="{{ absolutePostUrl }}">
    <![CDATA[
      <div>
        {%- if article.article_type == 'review' -%}
          <p><b>{{ article.article_type | formatArticleType }}:</b> {{article.rating}} / 6 stjerner.</p>
          <p>{{ article.artist }} - {{ article.title }}</p>
        {%- else -%}
          <p>{{ article.article_type | formatArticleType }}</p>
        {%- endif -%}
        <img src="{{ article.image_urls.original_w1000 }}" alt="{{ article.header }}" />
      </div>
    ]]>
    </content>
  </entry>
  {%- endfor %}
</feed>